<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Tables</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- ///////////////////////////////////////////////////////// for all Employee /////////////////////////////////////////////// -->

<div class="row" ng-init="getAllEmployee()">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Click on Employee Name to see full Profile
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="color:red;">
                                    <u>Employee Name</u>
                                </th>
                                <th style="color:red;"><u>Address</u></th>
                                <th style="color:red;"><u>Phone</u></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="employee in emp">
                                <td><a ui-sref="dashboard.profile({id: employee.id})" >{{employee.name}}</a></td>
                                <td><a>{{employee.address}}</a></td>
                                <td><a >{{employee.phno}}</a></td>



                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>











<!-- ///////////////////////////////////////////////////////// for all product /////////////////////////////////////////////// -->

<div class="row" ng-init="getAllProducts()">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Click on Product Type to see full Detail
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th style="color:red;">
                                    <u>Type</u>
                                </th
                                <th style="color:red;"><u>Color</u></th>
								<th style="color:red;"><u>Size</u></th>
								<th style="color:red;"><u>Price</u></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pro in product">
                                <td><a ui-sref="dashboard.profile({id: pro.id})" >{{pro.type}}</a></td>
                                <td><a>{{pro.color}}</a></td>
                                <td><a >{{pro.size}}</a></td>
								<td><a >{{pro.price}}</a></td>




                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>
